{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {{ include('backend/answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_answer_list') }}">back to list</a>
{% endblock %}
