{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
    <h1>Create new Answer</h1>

    {{ include('backend/answer/_form.html.twig') }}

    <a href="{{ path('backend_answer_list') }}">back to list</a>
{% endblock %}
