<div class="col-2" id="sidebar">
        <ul>
            <li>
                <a href="{{ path('question_list') }}">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ path('question_questions') }}">
                    Questions
                </a>
            </li>
            <li>
                <a href="{{ path('tag_list') }}">
                    Tags
                </a>
            </li>
            <li>
                <a href="{{ path('user_list') }}">
                    Users
                </a>
            </li>
        </ul>
    </div>