{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('backend/question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_question_list') }}">back to list</a>
{% endblock %}
